// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-accent: #68c4c7;
$color-light-grey: #e7e7e7;

// FONTS

$font-family-roboto: 'Roboto';

// BREAKPOINTS

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$navbar-height: 75px;
